html { 
  background: url(../images/backv2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
padding: 0px;
	margin: 0px;
}
a {
  color: #333333;
}


h1{
	width: 100%;
	height: 300px;
	text-align: center;	
	background-color: rgba(255,255,255,.5);
	position: absolute;
	z-index: 5;
	top: 35%;
	padding: 0px;
	margin: 0px;
}
h1 img{
	height: 50%;
	margin-top: 20px;


}

h1 p{	
padding: 0px;
	margin: 0px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	font-family: 'Helvetica Neue';
	letter-spacing: 1px;
}

